.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: hsl(220, 13%, 15%); /* #282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}

.button {
  font-size: 16vw;
  font-weight: bold;
  color:  hsl(220, 13%, 8%);
  cursor: pointer;
}

audio {
  width: 90%;
}

.playerText {
  /*font-family: 'Montserrat', sans-serif;
  font-size: 16vw;
  border: 10px solid white;
  margin: 100px; */
  padding: 1%;
  font-weight: bold;
  color:  hsl(219, 6%, 60%);
}

.playIcon {
  width: auto;
}

canvas {
  width: 100%;
 /* display: flex;
  justify-content: center;
  height: 80vh;*/
}
