.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: hsl(220, 13%, 15%); /* #282c34 */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #09d3ac;
}

.button {
  font-size: 16vw;
  font-weight: bold;
  color:  hsl(220, 13%, 8%);
  cursor: pointer;
}



canvas {
  /* width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;*/
  outline: white, 3px, solid !important;
}
